@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// ========= Variables ===========
$fontsMain: 'Open Sans', sans-serif;
$mainWhite: #fff;
$mainDark: #000;
$mainGreen: #00ceb5;
$footerGray: #f3f3f3;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $fontsMain;
	background: $mainWhite;
}

a {
	text-decoration: none;
	font-family: $fontsMain;
}

.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}

.aside {
	// .aside__container

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 14px 0;
		border-bottom: 1px solid #e7e7e7;
	}

	// .aside__mail

	&__mail {
		display: flex;
		gap: 12px;
	}

	// .aside__phones

	&__phones,
	&__phone {
		display: flex;
		gap: 44px;
	}

	&__phone {
		gap: 10px;
		font-weight: 600;
	}

	a {
		color: $mainDark;
		font-size: 16px;
	}
}

.header {
	padding: 19px 0;
	// .header__container

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.nav {
		// .nav__list

		&__list {
			list-style-type: none;
			display: flex;
			gap: 45px;
		}

		// .nav__item

		&__item {
			display: flex;
			justify-content: center;

			a {
				color: $mainDark;
				transition: all 0.2s ease;
				&:hover {
					transform: scale(1.1);
					font-weight: 700;
					transition: all 0.2s ease;
				}
			}

			&:not(:last-child)::after {
				content: url(./img/slash.svg);
				padding-left: 45px;
			}
		}
	}
	&__burger {
		display: none;
		z-index: 5;
	}
}

.hero {
	background: url(./img/construct1.jpg) no-repeat;
	background-size: cover;
	color: $mainWhite;
	padding-top: 195px;
	// .hero__container

	&__container {
		text-align: center;
	}

	// .hero__title

	&__title {
		text-transform: uppercase;
		font-size: 72px;
		font-weight: 300;
	}

	// .hero__subtitle

	&__subtitle {
		font-size: 23px;
		font-weight: 600;
		margin-top: 18px;
	}

	// .hero__desc

	&__desc {
		margin: 30px 0 38px;
		font-size: 23px;
		font-weight: 300;
	}

	// .hero__footer

	&__footer {
		padding: 44px 0;
		margin-top: 85px;
		background: rgba(0, 0, 0, 0.65);
	}

	// .hero__blocks

	&__blocks {
		display: flex;
		justify-content: space-between;
		gap: 100px;
	}

	// .hero__box

	&__box {
		position: relative;
		flex-basis: 30%;
		p {
			position: absolute;
			font-size: 20px;
			left: 105px;
			top: 51px;
		}
	}
}

.btn {
	background: $mainGreen;
	border-radius: 2px;
	padding: 18px 35px;
	border: none;
	color: $mainWhite;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Inter', sans-serif;
	cursor: pointer;
	transition: box-shadow 0.2s ease;
	&:hover {
		-webkit-box-shadow: 10px 10px 8px 0px rgba(0, 206, 181, 0.3);
		-moz-box-shadow: 10px 10px 8px 0px rgba(0, 206, 181, 0.3);
		box-shadow: 10px 10px 8px 0px rgba(0, 206, 181, 0.3);
	}
}

.section {
	// .section__title

	&__title {
		display: flex;
		margin: 0 auto;
		font-size: 48px;
		position: relative;
		text-transform: uppercase;

		&::before {
			content: url(./img/lineCircle.svg);
			position: absolute;
			top: 22px;
			left: -48px;
		}
	}

	// .section__desc

	&__desc {
		text-align: center;
		font-size: 20px;
		font-weight: 300;
	}
}
.about {
	padding: 78px 0 60px;
	// .about__title

	&__title {
		max-width: 475px;
		margin-bottom: 36px;
	}

	// .about__desc

	&__desc {
		max-width: 840px;
		margin: 0 auto;
	}

	// .about__content

	&__content {
		margin-top: 80px;
		display: flex;
		gap: 26px;
		align-items: center;
		position: relative;

		&::before {
			position: absolute;
			content: url(./img/cross.svg);
			top: -25%;
			left: -18%;
		}
	}

	// .about__text

	&__text {
		font-size: 18px;

		p {
			margin-bottom: 30px;
		}
	}

	ul {
		margin-top: 22px;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	li {
		position: relative;
		padding-left: 33px;
		&::before {
			content: url(./img/line.svg);
			position: absolute;
			top: -5px;
			left: 0;
		}
	}
}

.services {
	padding: 58px 0;

	// .services__title

	&__title {
		max-width: 280px;
	}
	// .services__zone

	&__zone {
		margin-top: 45px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 56px 15px;
	}

	// .services__box

	&__box {
		flex-basis: 30%;
		// .services__box_line

		&_line {
			height: 1px;
			width: 22px;
			background: #000;
			margin-top: 15px;
		}

		h3 {
			margin-top: 30px;
		}

		p {
			margin-top: 11px;
		}
	}
}

.portfolio {
	// .portfolio__container

	// &__container {
	// }

	// .portfolio__title

	&__title {
		max-width: 345px;
	}

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .portfolio__tabs

	&__tabs {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		width: 100%;
		flex-basis: 70%;
	}

	// .portfolio__tab

	&__tab {
		// flex-basis: 30%;
		padding: 25px 60px;
		text-align: center;
		border-bottom: 1px solid #ebebeb;
		font-size: 20px;
		font-weight: 300;

		&.active {
			color: rgba(0, 206, 181, 0.9);
			border-bottom: 1px solid #00ceb5;
		}
	}

	// .portfolio__btns

	&__btns {
		flex-basis: 12%;
		position: relative;
	}

	.swiper {
		margin-top: 30px;

		&-button-next,
		&-button-prev {
			background-repeat: no-repeat;
			background-size: 40px;
			width: calc(var(--swiper-navigation-size) / 45 * 40);
		}
		&-button-next {
			background-image: url(./img/arrow-next.svg);
		}
		&-button-prev {
			background-image: url(./img/arrow-prev.svg);
		}

		&-button-next::after,
		&-button-prev::after {
			content: '';
		}
	}

	// .portfolio__item

	&__item {
		position: relative;

		&__img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
		// .portfolio__item_hover
		&_hover {
			position: absolute;
			width: 100%;
			height: 100%;
			background: url(./img/arrow.svg) no-repeat top 40px right 40px,
				rgba(0, 206, 181, 0.9);
			color: $mainWhite;
			display: none;
			flex-direction: column;
			justify-content: flex-end;
			padding: 44px;
		}

		&:hover > &_hover {
			display: flex;
		}
	}
	// .portfolio__line

	&__line {
		width: 22px;
		height: 1px;
		background: $mainWhite;
		margin: 16px 0px 11px;
	}
}

.swiper {
	width: 100%;
	max-height: 640px;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	width: 100%;
	max-width: 640px;
	height: calc((100% - 30px) / 2) !important;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact {
	padding: 120px 0 80px;
	position: relative;
	// .contact__container

	&__container {
		display: flex;
		align-items: center;
	}

	&__img {
		position: absolute;
		right: 0;
		&::before {
			content: url('./img/crossForm.svg');
			position: absolute;
			top: -14%;
			left: -25%;
		}
	}

	// .contact__form

	// .contact__title

	&__title {
		font-size: 44px;
	}

	// .contact__desc

	&__desc {
		margin-top: 20px;
	}
}

.form {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	gap: 20px;
	// .form__input

	&__input,
	&__area {
		font-family: $fontsMain;
		padding: 15px 21px;
		border-radius: 2px;
		border: 1px solid #d6d6d6;
	}
	// .form__btn

	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 270px;
		align-self: center;
	}
}

.footer {
	background: $footerGray;
	padding: 30px 0;
	// .footer__container

	&__container {
		display: flex;
		justify-content: flex-start;
		gap: 200px;
	}

	// .footer__logo

	&__logo {
		p {
			text-transform: uppercase;
			font-size: 14px;
			color: #676767;
		}
	}

	// .footer__nav
	a {
		color: $mainDark;
	}
	.nav {
		// .nav__list

		&__list {
			list-style-type: none;
			a {
				transition: all 0.2s ease;
				&:hover {
					transform: scale(1.1);
					font-weight: 700;
					transition: all 0.2s ease;
				}
			}
		}

		// .nav__item

		&__item:not(:last-of-type) {
			margin-bottom: 30px;
		}
	}

	// .footer__title

	&__title {
		margin-bottom: 15px;
	}

	// .footer__mail

	&__mail,
	&__phone {
		display: flex;
		gap: 15px;
		margin-bottom: 10px;
	}

	// .footer__phone

	&__phone:last-child {
		margin-bottom: 0;
	}
	&__phone {
		font-weight: 600;
	}
}

@media screen and (max-width: 1600px) {
	.contact {
		&__img {
			width: 40%;
			img {
				width: 100%;
			}

			&::before {
				top: -18%;
				left: -35%;
			}
		}
	}
}

@media screen and (max-width: 1240px) {
	.container {
		width: 95%;
	}

	.swiper {
		max-height: 480px;

		&-slide {
			height: calc((100% - 30px) / 2) !important;
		}
	}

	.contact__title {
		padding-left: 40px;

		&::before {
			left: 0;
		}
	}
}
@media screen and (max-width: 1024px) {
	.hero__title {
		font-size: 60px;
	}
	.services {
		&__zone {
			justify-content: center;
		}
		&__box {
			flex-basis: 45%;
		}
	}

	.swiper {
		max-height: 440px;
	}

	.form {
		width: 85%;
	}

	.contact__img::before {
		top: -25%;
		left: -50%;
	}

	.footer .nav__item {
		width: 110%;
	}
}
@media screen and (max-width: 768px) {
	.header .nav__list {
		gap: 5px;
	}

	.header .nav__item:not(:last-child)::after {
		padding-left: 15px;
	}

	.hero {
		&__title {
			font-size: 45px;
		}
		&__subtitle,
		&__desc {
			font-size: 20px;
		}

		&__blocks {
			gap: 20px;
			flex-wrap: wrap;
			width: 55%;
			margin: 0 auto;
		}

		&__box {
			flex-basis: 100%;
			// display: flex;
			// justify-content: center;
			p {
				left: 27%;
			}
		}
	}

	.about {
		&__content {
			flex-wrap: wrap;
			justify-content: center;

			&::before {
				top: -10%;
				left: -12%;
			}
		}
	}

	.portfolio {
		&__tabs {
			flex-basis: 80%;
		}

		&__tab {
			padding: 25px 50px;
		}

		&__btns {
			flex-basis: 16%;
		}

		.swiper {
			max-height: 330px;

			&-slide {
				height: 100% !important;
			}
		}
	}

	.contact__img {
		width: 50%;
		top: 40%;

		&::before {
			content: '';
		}
	}
	.form {
		width: 50%;
	}

	.footer__container {
		gap: 60px;
	}
}
@media screen and (max-width: 425px) {
	.aside__container {
		flex-direction: column;
		gap: 20px;
	}

	.hero {
		background: url('./img/construct1.png') no-repeat;
		padding-top: 12px;
		background-size: contain;
		background-position: none;

		&__footer {
			margin-top: 15px;
			padding: 20px 0 45px;
		}

		&__title {
			font-size: 35px;
		}

		&__subtitle,
		&__desc {
			font-size: 18px;
		}

		// &__subtitle {
		// 	margin-top: 15px;
		// }

		&__desc {
			margin: 15px 0;
		}

		&__blocks {
			width: 70%;
		}

		&__box p {
			left: 35%;
		}
	}

	.header {
		&__container {
			justify-content: space-evenly;
		}
		&__burger {
			display: block;
			position: relative;
			height: 30px;
			width: 30px;
			transition: all 1s;

			&.active {
				& span {
					transform: scale(0);
				}

				&::after {
					transform: rotate(45deg) translate(-50%, -50%);
					bottom: 0;
					background: #ffffff;
				}

				&::before {
					background: #ffffff;
					transform: rotate(-45deg) translate(-50%, -50%);
				}
			}
		}

		&__burger::after,
		&__burger::before {
			content: '';
			background: $mainDark;
			position: absolute;
			width: 100%;
			height: 2px;
			transition: all 1s;
			left: 50%;
			transform: translate(-50%);
		}
		&__burger::before {
			top: 20%;
		}
		&__burger::after {
			bottom: 20%;
		}
		&__burger span {
			background: $mainDark;
			position: absolute;
			width: 100%;
			height: 2px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.nav {
			display: flex;
			flex-direction: column;
			position: fixed;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			padding: 15px;
			background: linear-gradient(
				0deg,
				$mainDark 0%,
				rgba(19, 28, 38, 0.69) 100%
			);
			transform: translateX(100%);
			transition: transform 0.5s;
			z-index: 2;
			justify-content: center;
			align-items: center;

			&__list {
				display: flex;
				flex-direction: column;
				gap: 40px;
				max-width: 350px;
				li {
					padding: 10px 0;
				}
			}

			&.active {
				transform: translateX(0);
			}
		}

		.nav {
			&__item {
				a {
					color: $mainWhite;
					font-size: 24px;
				}

				&:not(:last-child)::after {
					content: '';
				}
			}

			&__list {
				gap: 60px;
			}
		}
	}

	body.lock {
		overflow: hidden;
	}

	.about__content {
		&::before {
			content: '';
		}

		img {
			width: 100%;
		}
	}

	.portfolio {
		&__btns {
			display: none;
		}

		&__tabs {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex-basis: 100%;
		}
	}

	.contact {
		&__container {
			flex-direction: column;
		}

		&__form {
			order: 1;
		}

		&__img {
			order: 0;
			position: relative;
			width: 100%;
			margin-bottom: 20px;
		}
	}

	.form {
		width: 100%;
	}

	.footer {
		&__container {
			flex-direction: column;
			margin: 0 auto;
			width: 50%;
		}
	}
}
@media screen and (max-width: 400px) {
	.aside__phones {
		flex-direction: column;
		gap: 10px;
	}
	.hero__blocks {
		width: 85%;
	}

	.services {
		&__box {
			width: 100%;
			flex-basis: 100%;
			img {
				width: 100%;
			}
		}
	}

	.portfolio__title {
		margin-left: 20px;

		&::before {
			left: -10%;
		}
	}

	.form {
		width: 90%;
		margin: 25px auto 0;
	}
}
